/*
lightest - hsla(127, 50%, 85%, 1)
lighter - hsla(127, 60%, 70%, 1)
med - hsla(127, 70%, 57%, 1)
dark - hsla(127, 67%, 24%, 1)
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsla(127, 60%, 70%, 1);
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}

.container {
  background-color: hsla(127, 50%, 85%, 1);
  width: 90%;
  padding: 1rem;
  margin: 0 auto;
}

.header__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__menuitem {
  display: inline-block;
  margin-right: 1rem;
}

.header {
  padding-bottom: 1rem;
}

.header__title {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.hours, .directions {
  width: 45%;
  margin-right: 5%;
  float: left;
}

.plant {
  float: left;
  width: 45%;
  margin-right: 5%;
}

.plant__image {
  float: right;
  width: 40%;
  margin: 0 0 1rem 1rem;
}

.store-image {
  float: right;
  width: 40%;
  margin: 0 0 1rem 1rem;
}

.clearfix {
  clear: both;
}

/*
  * phones: < 768px
  * tablets: >= 768px 
  * desktops: >= 992px
  * big desktops: >= 1200px
*/

@media screen and (min-width: 992px) {
  body {
    background-color: hsla(127, 70%, 57%, 1);
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: hsla(127, 67%, 24%, 1);
  }
}


@media screen and (max-width: 768px) {
  .hours, .directions {
    width: 100%;
    margin-right: 0%;
    float: none;
  }

  .plant {
    width: 100%;
    margin-right: 0%;
    float: none;
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  .plant__image {
    width: 100%;
    margin: 0;
    padding: 0;
    float: none;
  }

  .store-image {
    width: 100%;
    margin: 0;
    float: none;
  }
}
